{% extends 'model-page.html' %}

{% block content %}
<div class="conteudo">
    <h2>Agendamentos</h2>

    <a href="evento/">
        <button type="button" class="btn btn-success">Novo Evento</button>
    </a>
    <a href="/historico/">
        <button type="button" class="btn btn-info">Histórico de Eventos</button>
    </a>

    <div class="lista-agend">
        <table class="table">
            <thead>
            <tr>
                <th>Evento</th>
                <th>Data</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
            </thead>
            <tbody>
            {% for evento in eventos %}
            <tr>
                <td {% if evento.get_evento_atrasado %}
                    style="color: red;"
                    {% endif %}
                    {% if evento.get_ultima_hora_evento %}
                    style="color: green;"
                    {% endif %}>{{ evento.titulo }}
                </td>
                <td {% if evento.get_evento_atrasado %}
                    style="color: red;"
                    {% endif %}
                    {% if evento.get_ultima_hora_evento %}
                    style="color: green;"
                    {% endif %}>{{ evento.get_data_evento }}
                </td>
                <td>
                    <a href="evento/?id={{ evento.id }}">
                        <img src="https://img.icons8.com/officel/30/000000/edit-property.png"/>
                    </a>
                </td>
                <td>
                    <a href="evento/delete/{{ evento.id }}/">
                        <img src="https://img.icons8.com/office/30/000000/delete-view.png"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}