<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Agenda</title>
<style>
        body{
            background: #000080;
            font-family: Arial;
            color: white;
        }
        h1, h2{
            color: white;
        }
        label{
            color: white;
        }
        .conteudo{
            margin-left: 100px;
            margin-right:100px;
        }
        .evento-form{
            margin-top: 30px;
            margin-left: 250px;
            margin-right: 250px;
        }
        .lista-agend{
            margin: 30px 200px 10px 200px;
        }
        th{
            color: white;
        }
        td{
            color: white;
        }
        footer{
            margin-top: 50px;
            margin-bottom: 20px;
        }
</style>
